@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}


.landing-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  padding: 0 20px 80px;
}

.landing-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.landing-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,
      rgba(4, 21, 52, 0) 0%,
      rgba(4, 21, 52, 0.6) 100%);
}

.landing-content {
  position: relative;
  text-align: center;
  color: #1c2b38;
  z-index: 1;
  width: 737px;
}

.landing-title {
  font: 700 48px;
  margin-top: 166px;
}

.landing-description {
  color: var(--Main-Dark, #1c2b38);
  margin: 22px 0 161px;
  font: 600 16px/25px sans-serif;
}

.landing-search {
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(123, 188, 176, 0.5);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 18px 53px;
  position: relative;
  top: -50px;
  left: 360px;
  right: 0;
  z-index: 10;
  width: 700px;
  height: 60px;
  /* overflow: hidden; */
}

.search-location,
.search-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.search-icon {
  display: flex;
  gap: 5px;
}

.search-icon-img {
  width: 13px;
  fill: #7bbcb0;
}

.search-location-text,
.date-label {
  color: #7bbcb0;
  font-weight: 800;
}

.date-picker {
  display: flex;
  gap: 5px;
}

.calendar-icon {
  width: 14px;
}

.pick-date,
.search-input {
  background-color: transparent;
  border: none;
}

.search-button {
  border-radius: 40px;
  box-shadow: 0px 8px 20px 0px rgba(255, 218, 50, 0.5);
  background-color: #ffda32;
  color: var(--Main-Dark, #1c2b38);
  text-align: center;
  padding: 21px 49px;
  font: 800 16px/137.5% sans-serif;
}